


body {
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 3x solid red;
}



h2{
	color:#00FF7F;
	text-align: center;
	border: 5px dotted red;
	}


#list {
	
	width: 500px;
	padding: 30px;
	border: 3x dotted blue;
	font-weight: bold;
	border: 5px dotted red;
}

    table {
                border: 2px solid black;
                border-collapse: collapse;
                width: 50%;
            }

            th, td {
                border: 1px solid black;
                padding: 5px;
                text-align: center;
            }

            th {
                background-color: lightgray;
            }

button {
	width: 200px;
	height: 50px;
	font-size: 24px;
	background-color: green
}

button:hover {
	background-color: orange;
}

link:hover {
	background-color: orange;
}

p::selection {
                color: red;
                background-color: yellow;
            }


    .grid {
                background-color: green;
                display: grid;
                padding: 20px;
                grid-column-gap: 20px;
                grid-row-gap: 10px;
                grid-template-columns: 200px 200px auto;
            }

            .grid-item {
                background-color: white;
                font-size: 20px;
                padding: 20px;
                text-align: center;
            }


  .row > div {
                padding: 20px;
                background-color: teal;
                border: 2px solid black;
            }


  .alert {
                margin: 20px;
            }